html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    font: 62.5% Hiragino Sans GB W3, serif;
}


/*
.img{background:url(../images/img.png)  no-repeat;}
.发言讨论结束，投票_05{height:15px;width:15px;background-position:0 0;}
.发言讨论结束，投票_03{height:15px;width:15px;background-position:-15px 0;}
.发言讨论结束，投票_07{height:15px;width:15px;background-position:-30px 0;}
.发言讨论结束，投票_09{height:15px;width:15px;background-position:-45px 0;}
._7-1首页{height:14px;width:17px;background-position:-60px 0;}
.矩形 10 拷贝{height:18px;width:18px;background-position:-77px 0;}
.Shape 120{height:20px;width:20px;background-position:-95px 0;}
._7-2首页{height:20px;width:20px;background-position:-115px 0;}
.形状 17{height:26px;width:26px;background-position:-135px 0;}
.矩形 5 拷贝 2{height:21px;width:26px;background-position:-161px 0;}
.卧底胜利{height:103px;width:176px;background-position:-187px 0;}

*/
header {
    width: 100%;
    height: 4.4rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    border-bottom: 1px solid #FFFFFF;
    background-color: #29BDE0;

}

p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn {
    background: none;
    border: none;
    outline: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}
.btn-1{
    width: 2.6rem;
    height: 2.1rem;
    background: url("img.png")no-repeat -16.1rem 0;
    background-size: 36.3rem 10.3rem;
    margin: 1.4rem 0 1.1rem 1rem;
}                                          /*左上角主页按钮图标*/


.word-title {
    font-size: 1.7rem;
    color: #FFFFFF;
    line-height: 4.4rem;
    margin: auto;
}                                              /*标题文字*/

.btn-2 {
    width: 2rem;
    height: 2rem;
    margin: 1.2rem 0.9rem 1.2rem 0;
    background: url("img.png")no-repeat -9.5rem 0;
    background-size: 36.3rem 10.3rem;
}                                                /*右上角帮助图标按钮*/

main {
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    height: 31.1rem;
    background-color: #29BDE0;
    margin-top: 4.4rem;
    display: flex;
    flex-direction: column;
}
.main-box {
    margin-top: 4.4rem;
    margin-bottom: 7rem;
}

.victory {
    width: 17.6rem;
    height: 10.3rem;
    background: url("img.png")no-repeat -18.7rem 0;
    background-size: 36.3rem 10.3rem;
    margin: auto;

}
.content-1 {
    height: 6rem;
    font:1.7rem HiraginoSansGB-W6,Serif;
    color: #FFC865;
    margin: 0 4rem 3.1rem 3.9rem;
    padding: 0;
    font-weight: bold;
    white-space: normal;
    overflow: hidden;
}                                          /*段落黄色字体文字*/

.word-middle {
    margin: 0 5.1rem 0 3.8rem;
}                                           /*段落文字的盒子*/

.content-2 {
    font-size: 1.3rem;
    color: #FFFFFFFF;
    margin-bottom: .2rem;

}                                         /*段落白体文字格式*/

.box-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}
.box-2 {
    margin-right: 1rem;
    overflow: hidden;
}




footer {
    width: 100%;
    height: 6.5rem;
    background-color: rgba(41,189,224,0.48);
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.3rem 1rem 1.2rem;
    overflow: hidden;
}

.btn-3,.btn-4{
    width: 13.6rem;
    height: 4.3rem;
    font-color: #FFFFFF;
    border-radius: .5rem;
}
.btn-3 {
    background-color: #F66F6F;

}
.btn-4 {
    background-color: #FBB435;

}
.days {
    width: 100%;
    height: 8.2rem;
    padding-left: 3.8rem;
    padding-right: 5.2rem;
    border-bottom: 1px solid rgba(83,83,83,0.2);
}
.box-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 0.7rem;
}                                         /*第1天和用时*/

.word-day1 {
    color: #515151;
    font-size: 1.5rem;
}
.word-time {
    color: #C7C7C7;
    font-size: 1rem;
}
.word-day2 {
    color: #A6A6A6;
    font-size: 1.3rem;
}